/* This is a comment in CSS            */
/* CSS defines formatting for the page */
/* The general format: selector {
                                  css rule;
                                  css rule;
                                }
*/  
/* for now we use html tags as selectors */

html { /* style all the elements within the html tag */
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    color: blue;
}

h2 { /* style all the h2 tags */
  color: green;
}

footer {
  color: red;
  margin-top: 50px;
  font-size: 10px;
  text-align: center;
}

p {
  color: purple;
  font-size: 12px;
}

#p2 {
  color: orange;
}

div {
  background-color: gold;
}

#Youssef{
  background-color:blue;
}

.normal{
  background-color: aquamarine;
}

#studentList{
  color:chocolate;
  font-style:italic;
  list-style: square;
  border-style: solid;
  border-color: darkorchid;
  border-width: 5px;
  border-radius: 20px;
}

table{
  border: 2px solid black;
}

td, th{
  border : 1px dashed red;
  width: 100px;
  height: 100px;
  text-align: center;
}

th{
  color: green;
  border: 1px solid green;
}